* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(83,172,225);
    background: linear-gradient(90deg, rgba(83,172,225,1) 0%, rgba(199,0,242,1) 100%);


}

form {
    display: grid;
    place-items: center;
    border: solid 1px black;
    border-radius: 60px;
    height: 600px;
    width: 400px;
    line-height: 3.5;
    background-color: whitesmoke
}

button {
    border: solid 1px;
    border-radius: 30px;

}

h2 {
    padding: 10px;
}


#submit {
    border: solid 1px;
    width: 200px;
    height: 30px;
    border-radius: 8rem;
    background: rgb(199,0,242);
    background: linear-gradient(90deg, rgba(199,0,242,1) 0%, rgba(83,172,225,1) 100%);

}

